[submodule "Unity/Assets/Scripts/Common"]
	path = Unity/Assets/Scripts/Common
	url = https://github.com/Diogo-Maia/LP2Projeto3.git
	branch = common
[submodule "Console/ConsoleApp/Common"]
	path = Console/ConsoleApp/Common
	url = https://github.com/Diogo-Maia/LP2Projeto3.git
	branch = common
